<div class="px-3">
  <h2>Buttons</h2>
  <div class="alert alert-warning" role="alert">
    The <strong> ink colour </strong> was modified in order to fix outline
    buttons to darker than the source colours unless has a good contrast (this
    is more visible on warning buttons)
  </div>
  <div class="d-flex gap py-2">
    <div>
      <button class="btn btn-sm btn-link">BTN Link</button>
    </div>
    <div>
      <button class="btn btn btn-link">BTN Link</button>
    </div>
    <div>
      <button class="btn btn-lg btn-link">BTN Link</button>
    </div>
  </div>
  <div class="d-flex gap py-2">
    <div>
      <button class="btn btn-sm btn-primary ">Primary</button>
    </div>
    <div>
      <button class="btn btn-primary ">Primary</button>
    </div>
    <div>
      <button class="btn btn-lg btn-primary ">Primary</button>
    </div>
    <div>
      <button class="btn btn-sm btn-outline-primary ">Primary</button>
    </div>
    <div>
      <button class="btn btn-outline-primary ">Primary</button>
    </div>
    <div>
      <button class="btn btn-lg btn-outline-primary ">Primary</button>
    </div>
  </div>
  <div class="d-flex gap py-2">
    <div>
      <button class="btn btn-sm btn-brand ">Brand</button>
    </div>
    <div>
      <button class="btn btn-brand ">Brand</button>
    </div>
    <div>
      <button class="btn btn-lg btn-brand ">Brand</button>
    </div>
    <div>
      <button class="btn btn-sm btn-outline-brand ">Brand</button>
    </div>
    <div>
      <button class="btn btn-outline-brand ">Brand</button>
    </div>
    <div>
      <button class="btn btn-lg btn-outline-brand ">Brand</button>
    </div>
  </div>
  <div class="d-flex gap py-2">
    <div>
      <button class="btn btn-sm btn-secondary ">Secondary</button>
    </div>
    <div>
      <button class="btn btn-secondary ">Secondary</button>
    </div>
    <div>
      <button class="btn btn-lg btn-secondary ">Secondary</button>
    </div>
    <div>
      <button class="btn btn-sm btn-outline-secondary ">Secondary</button>
    </div>
    <div>
      <button class="btn btn-outline-secondary ">Secondary</button>
    </div>
    <div>
      <button class="btn btn-lg btn-outline-secondary ">Secondary</button>
    </div>
  </div>
  <div class="d-flex gap py-2">
    <div>
      <button class="btn btn-sm btn-info ">Info</button>
    </div>
    <div>
      <button class="btn btn-info ">Info</button>
    </div>
    <div>
      <button class="btn btn-lg btn-info ">Info</button>
    </div>
    <div>
      <button class="btn btn-sm btn-outline-info ">Info</button>
    </div>
    <div>
      <button class="btn btn-outline-info ">Info</button>
    </div>
    <div>
      <button class="btn btn-lg btn-outline-info ">Info</button>
    </div>
  </div>
  <div class="d-flex gap py-2">
    <div>
      <button class="btn btn-sm btn-success ">Success</button>
    </div>
    <div>
      <button class="btn btn-success ">Success</button>
    </div>
    <div>
      <button class="btn btn-lg btn-success ">Success</button>
    </div>
    <div>
      <button class="btn btn-sm btn-outline-success ">Success</button>
    </div>
    <div>
      <button class="btn btn-outline-success ">Success</button>
    </div>
    <div>
      <button class="btn btn-lg btn-outline-success ">Success</button>
    </div>
  </div>
  <div class="d-flex gap py-2">
    <div>
      <button class="btn btn-sm btn-warning ">Warning</button>
    </div>
    <div>
      <button class="btn btn-warning ">Warning</button>
    </div>
    <div>
      <button class="btn btn-lg btn-warning ">Warning</button>
    </div>
    <div>
      <button class="btn btn-sm btn-outline-warning ">Warning</button>
    </div>
    <div>
      <button class="btn btn-outline-warning ">Warning</button>
    </div>
    <div>
      <button class="btn btn-lg btn-outline-warning ">Warning</button>
    </div>
  </div>
  <div class="d-flex gap py-2">
    <div>
      <button class="btn btn-sm btn-danger ">Danger</button>
    </div>
    <div>
      <button class="btn btn-danger ">Danger</button>
    </div>
    <div>
      <button class="btn btn-lg btn-danger ">Danger</button>
    </div>
    <div>
      <button class="btn btn-sm btn-outline-danger ">Danger</button>
    </div>
    <div>
      <button class="btn btn-outline-danger ">Danger</button>
    </div>
    <div>
      <button class="btn btn-lg btn-outline-danger ">Danger</button>
    </div>
  </div>
  <div class="d-flex gap py-2">
    <div>
      <button class="btn btn-sm btn-light ">Light</button>
    </div>
    <div>
      <button class="btn btn-light ">Light</button>
    </div>
    <div>
      <button class="btn btn-lg btn-light ">Light</button>
    </div>
    <div>
      <button class="btn btn-sm btn-outline-light ">Light</button>
    </div>
    <div>
      <button class="btn btn-outline-light ">Light</button>
    </div>
    <div>
      <button class="btn btn-lg btn-outline-light ">Light</button>
    </div>
  </div>
  <div class="d-flex gap py-2">
    <div>
      <button class="btn btn-sm btn-dark ">Dark</button>
    </div>
    <div>
      <button class="btn btn-dark ">Dark</button>
    </div>
    <div>
      <button class="btn btn-lg btn-dark ">Dark</button>
    </div>
    <div>
      <button class="btn btn-sm btn-outline-dark ">Dark</button>
    </div>
    <div>
      <button class="btn btn-outline-dark ">Dark</button>
    </div>
    <div>
      <button class="btn btn-lg btn-outline-dark ">Dark</button>
    </div>
  </div>

  <div class="d-flex gap-sm py-2 flex-wrap">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="active btn btn-primary">Primary 1</button>
      <button type="button" class="btn btn-primary">Primary 2</button>
      <button type="button" class="btn btn-primary">Primary 3</button>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="active btn btn-brand">Brand 1</button>
      <button type="button" class="btn btn-brand">Brand 2</button>
      <button type="button" class="btn btn-brand">Brand 3</button>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="active btn btn-secondary">
        Secondary 1
      </button>
      <button type="button" class="btn btn-secondary">Secondary 2</button>
      <button type="button" class="btn btn-secondary">Secondary 3</button>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="active btn btn-info">Info 1</button>
      <button type="button" class="btn btn-info">Info 2</button>
      <button type="button" class="btn btn-info">Info 3</button>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="active btn btn-success">Success 1</button>
      <button type="button" class="btn btn-success">Success 2</button>
      <button type="button" class="btn btn-success">Success 3</button>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="active btn btn-warning">Warning 1</button>
      <button type="button" class="btn btn-warning">Warning 2</button>
      <button type="button" class="btn btn-warning">Warning 3</button>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="active btn btn-danger">Danger 1</button>
      <button type="button" class="btn btn-danger">Danger 2</button>
      <button type="button" class="btn btn-danger">Danger 3</button>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="active btn btn-light">Light 1</button>
      <button type="button" class="btn btn-light">Light 2</button>
      <button type="button" class="btn btn-light">Light 3</button>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="active btn btn-dark">Dark 1</button>
      <button type="button" class="btn btn-dark">Dark 2</button>
      <button type="button" class="btn btn-dark">Dark 3</button>
    </div>
  </div>
  <div class="d-flex gap-sm py-2 flex-wrap">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="active btn btn-outline-primary">
        Primary 1
      </button>
      <button type="button" class="btn btn-outline-primary">Primary 2</button>
      <button type="button" class="btn btn-outline-primary">Primary 3</button>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="active btn btn-outline-brand">
        Brand 1
      </button>
      <button type="button" class="btn btn-outline-brand">Brand 2</button>
      <button type="button" class="btn btn-outline-brand">Brand 3</button>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="active btn btn-outline-secondary">
        Secondary 1
      </button>
      <button type="button" class="btn btn-outline-secondary">
        Secondary 2
      </button>
      <button type="button" class="btn btn-outline-secondary">
        Secondary 3
      </button>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="active btn btn-outline-info">Info 1</button>
      <button type="button" class="btn btn-outline-info">Info 2</button>
      <button type="button" class="btn btn-outline-info">Info 3</button>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="active btn btn-outline-success">
        Success 1
      </button>
      <button type="button" class="btn btn-outline-success">Success 2</button>
      <button type="button" class="btn btn-outline-success">Success 3</button>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="active btn btn-outline-warning">
        Warning 1
      </button>
      <button type="button" class="btn btn-outline-warning">Warning 2</button>
      <button type="button" class="btn btn-outline-warning">Warning 3</button>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="active btn btn-outline-danger">
        Danger 1
      </button>
      <button type="button" class="btn btn-outline-danger">Danger 2</button>
      <button type="button" class="btn btn-outline-danger">Danger 3</button>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="active btn btn-outline-light">
        Light 1
      </button>
      <button type="button" class="btn btn-outline-light">Light 2</button>
      <button type="button" class="btn btn-outline-light">Light 3</button>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="active btn btn-outline-dark">Dark 1</button>
      <button type="button" class="btn btn-outline-dark">Dark 2</button>
      <button type="button" class="btn btn-outline-dark">Dark 3</button>
    </div>
  </div>
</div>
