<div class="d-flex flex-column gap-sm">
  <div class="d-flex justify-content-center">
    <small class="text-black-50">Chat started at 12.12</small>
  </div>
  <div class=" p-3 w-50">
    <div class="d-flex flex-column">
      <div class="d-flex justify-content-end align-items-center">
        <small>
          <strong>Mano Sebastiano Argenti - 10.36 AM</strong>
        </small>

        <div class="dropdown">
          <button
            class="btn btn-sm btn-link square rounded-circle xbtn-link p-1 xdropdown-toggle d-flex justify-content-between align-items-center"
            type="button"
            data-toggle="dropdown"
            aria-expanded="false">
            <span class="d-none"> Open </span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-three-dots"
              viewBox="0 0 16 16">
              <path
                d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
            </svg>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item p-0" href="#">
              <div class="d-flex gap-sm p-2 align-items-center">
                <div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-reply"
                    viewBox="0 0 16 16">
                    <path
                      d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z" />
                  </svg>
                </div>
                <span> Reply </span>
              </div>
            </a>
            <a class="dropdown-item p-0" href="#">
              <div class="d-flex gap-sm p-2 align-items-center">
                <div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-clipboard"
                    viewBox="0 0 16 16">
                    <path
                      d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                    <path
                      d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                  </svg>
                </div>
                <span> Copy Message </span>
              </div>
            </a>
            <a class="dropdown-item p-0" href="#">
              <div class="d-flex gap-sm p-2 align-items-center">
                <div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-link"
                    viewBox="0 0 16 16">
                    <path
                      d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z" />
                    <path
                      d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z" />
                  </svg>
                </div>
                <span> Copy Link </span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="d-flex gap-xs">
        <div>
          {{ partial "chat/avatar.html" (dict "name" "Mano Sebastiano Argenti" ) }}

        </div>
        <div class="card no-shadow-sm p-3 bg-light bubble bubble-start">
          <p>
            枏烱鑛珉凃廼皐伃悧垻姢緜鉁峯栢窓輰晋笋廍 衞舘双樫𨶒温滙勅脚渊
            瑶廸坔瀞献厦綉㨗彣欵 龐塀羣寳媖聰勲姸瓍効 喆珏憙犇
          </p>
          <p class="m-0">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
            iste accusantium quidem, assumenda reprehenderit dolorum asperiores!
            Iusto sint doloremque eveniet ut reprehenderit quae quod! Ut facilis
            quis sit porro laudantium!
          </p>
          {{ partial "attachment.html" (dict "fileName"
            "myLongFileNameIsTrimmedOrNotmyLongFileNameIsTrimmedOrNot.pdf")
          }}
          {{ partial "chat/quote.html" }}
        </div>
      </div>
    </div>
  </div>
  <div class="chat-day d-flex flex-column gap-sm">
    <div class="d-flex justify-content-center sticky-top ">
      <small class="text-black-50 p-1 mt-1 badge badge-pill badge-light px-2"
        >Yesterday 23.05.1976</small
      >
    </div>
    <div class="p-3 w-50 d-flex gap-sm  ml-auto flex-row-reverse">
      <div>
        <div class="d-flex justify-content-end align-items-center">
          <small>
            <strong>10.36 AM</strong>
          </small>

          <div class="dropdown">
            <button
              class="btn btn-sm btn-link square rounded-circle xbtn-link p-1 xdropdown-toggle d-flex justify-content-between align-items-center"
              type="button"
              data-toggle="dropdown"
              aria-expanded="false">
              <span class="d-none"> Open </span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-three-dots"
                viewBox="0 0 16 16">
                <path
                  d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
              </svg>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item p-0" href="#">
                <div class="d-flex gap-sm p-2 align-items-center">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-pencil"
                      viewBox="0 0 16 16">
                      <path
                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                    </svg>
                  </div>
                  <span> Edit </span>
                </div>
              </a>
              <a class="dropdown-item p-0" href="#">
                <div class="d-flex gap-sm p-2 align-items-center">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-trash3"
                      viewBox="0 0 16 16">
                      <path
                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                    </svg>
                  </div>
                  <span> Delete </span>
                </div>
              </a>
              <a class="dropdown-item p-0" href="#">
                <div class="d-flex gap-sm p-2 align-items-center">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-link"
                      viewBox="0 0 16 16">
                      <path
                        d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z" />
                      <path
                        d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z" />
                    </svg>
                  </div>
                  <span> Copy Link </span>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div
          class="card bubble bubble-end no-shadow-sm p-3 bg-brand ink-brand ">
          <p class="m-0">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
            iste accusantium quidem, assumenda reprehenderit dolorum asperiores!
            Iusto sint doloremque eveniet ut reprehenderit quae quod! Ut facilis
            quis sit porro laudantium!
          </p>
          {{ partial "attachment.html" }}
        </div>
      </div>
    </div>
    <div class="bubble bubble-start p-3 w-50">
      <div class="d-flex flex-column">
        <div class="d-flex justify-content-end align-items-center">
          <small>
            <strong>Mano Sebastiano Argenti - 10.36 AM</strong>
          </small>

          <div class="dropdown">
            <button
              class="btn btn-sm btn-link square rounded-circle xbtn-link p-1 xdropdown-toggle d-flex justify-content-between align-items-center"
              type="button"
              data-toggle="dropdown"
              aria-expanded="false">
              <span class="d-none"> Open </span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-three-dots"
                viewBox="0 0 16 16">
                <path
                  d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
              </svg>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item p-0" href="#">
                <div class="d-flex gap-sm p-2 align-items-center">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-reply"
                      viewBox="0 0 16 16">
                      <path
                        d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z" />
                    </svg>
                  </div>
                  <span> Reply </span>
                </div>
              </a>
              <a class="dropdown-item p-0" href="#">
                <div class="d-flex gap-sm p-2 align-items-center">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-clipboard"
                      viewBox="0 0 16 16">
                      <path
                        d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                      <path
                        d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                    </svg>
                  </div>
                  <span> Copy Message </span>
                </div>
              </a>
              <a class="dropdown-item p-0" href="#">
                <div class="d-flex gap-sm p-2 align-items-center">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-link"
                      viewBox="0 0 16 16">
                      <path
                        d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z" />
                      <path
                        d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z" />
                    </svg>
                  </div>
                  <span> Copy Link </span>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="d-flex gap-xs">
          <div>
            {{ partial "chat/avatar.html" (dict "name" "Mano Sebastiano Argenti" ) }}

          </div>
          <div class="card no-shadow-sm p-3 bg-light bubble bubble-start">
            <p class="m-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
              iste accusantium quidem, assumenda reprehenderit dolorum
              asperiores! Iusto sint doloremque eveniet ut reprehenderit quae
              quod! Ut facilis quis sit porro laudantium!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="p-3 w-50 d-flex gap-sm  ml-auto flex-row-reverse">
      <div>
        <small class="d-flex justify-content-end">
          <strong>10.36 AM</strong>
        </small>
        <div
          class="card bubble bubble-end no-shadow-sm p-3 bg-brand ink-brand ">
          <p class="m-0">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
            iste accusantium quidem, assumenda reprehenderit dolorum asperiores!
            Iusto sint doloremque eveniet ut reprehenderit quae quod! Ut facilis
            quis sit porro laudantium!
          </p>
        </div>
      </div>
    </div>
    <div class="bubble bubble-start p-3 w-50">
      <div class="d-flex flex-column">
        <div class="d-flex justify-content-end align-items-center">
          <small>
            <strong>Mano Sebastiano Argenti - 10.36 AM</strong>
          </small>

          <div class="dropdown">
            <button
              class="btn btn-sm btn-link square rounded-circle xbtn-link p-1 xdropdown-toggle d-flex justify-content-between align-items-center"
              type="button"
              data-toggle="dropdown"
              aria-expanded="false">
              <span class="d-none"> Open </span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-three-dots"
                viewBox="0 0 16 16">
                <path
                  d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
              </svg>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item p-0" href="#">
                <div class="d-flex gap-sm p-2 align-items-center">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-reply"
                      viewBox="0 0 16 16">
                      <path
                        d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z" />
                    </svg>
                  </div>
                  <span> Reply </span>
                </div>
              </a>
              <a class="dropdown-item p-0" href="#">
                <div class="d-flex gap-sm p-2 align-items-center">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-clipboard"
                      viewBox="0 0 16 16">
                      <path
                        d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                      <path
                        d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                    </svg>
                  </div>
                  <span> Copy Message </span>
                </div>
              </a>
              <a class="dropdown-item p-0" href="#">
                <div class="d-flex gap-sm p-2 align-items-center">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-link"
                      viewBox="0 0 16 16">
                      <path
                        d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z" />
                      <path
                        d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z" />
                    </svg>
                  </div>
                  <span> Copy Link </span>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="d-flex gap-xs">
          <div>
            {{ partial "chat/avatar.html" (dict "name" "Mano Sebastiano Argenti") }}

          </div>
          <div class="card no-shadow-sm p-3 bg-light bubble bubble-start">
            <p class="m-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
              iste accusantium quidem, assumenda reprehenderit dolorum
              asperiores! Iusto sint doloremque eveniet ut reprehenderit quae
              quod! Ut facilis quis sit porro laudantium!
            </p>
            <p class="m-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
              iste accusantium quidem, assumenda reprehenderit dolorum
              asperiores! Iusto sint doloremque eveniet ut reprehenderit quae
              quod! Ut facilis quis sit porro laudantium!
            </p>
            {{ partial "attachment.html" }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-day d-flex flex-column gap-sm">
    <div class="d-flex justify-content-center sticky-top ">
      <small class="p-1 mt-1 badge badge-pill badge-primary px-2"
        >Today at 23.05.1976</small
      >
    </div>
    <div class="p-3 w-50 d-flex gap-sm  ml-auto flex-row-reverse">
      <div>
        <div class="d-flex justify-content-end align-items-center">
          <small>
            <strong>10.36 AM</strong>
          </small>

          <div class="dropdown">
            <button
              class="btn btn-sm btn-link square rounded-circle xbtn-link p-1 xdropdown-toggle d-flex justify-content-between align-items-center"
              type="button"
              data-toggle="dropdown"
              aria-expanded="false">
              <span class="d-none"> Open </span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-three-dots"
                viewBox="0 0 16 16">
                <path
                  d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
              </svg>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item p-0" href="#">
                <div class="d-flex gap-sm p-2 align-items-center">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-pencil"
                      viewBox="0 0 16 16">
                      <path
                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                    </svg>
                  </div>
                  <span> Edit </span>
                </div>
              </a>
              <a class="dropdown-item p-0" href="#">
                <div class="d-flex gap-sm p-2 align-items-center">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-trash3"
                      viewBox="0 0 16 16">
                      <path
                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                    </svg>
                  </div>
                  <span> Delete </span>
                </div>
              </a>
              <a class="dropdown-item p-0" href="#">
                <div class="d-flex gap-sm p-2 align-items-center">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-link"
                      viewBox="0 0 16 16">
                      <path
                        d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z" />
                      <path
                        d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z" />
                    </svg>
                  </div>
                  <span> Copy Link </span>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div
          class="card bubble bubble-end no-shadow-sm p-3 bg-brand ink-brand ">
          <p class="m-0">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
            iste accusantium quidem, assumenda reprehenderit dolorum asperiores!
            Iusto sint doloremque eveniet ut reprehenderit quae quod! Ut facilis
            quis sit porro laudantium!
          </p>
          {{ partial "attachment.html" }}
        </div>
      </div>
    </div>
    <div class="bubble bubble-start p-3 w-50">
      <div class="d-flex flex-column">
        <div class="d-flex justify-content-end align-items-center">
          <small>
            <strong>Mano Sebastiano Argenti - 10.36 AM</strong>
          </small>

          <div class="dropdown">
            <button
              class="btn btn-sm btn-link square rounded-circle xbtn-link p-1 xdropdown-toggle d-flex justify-content-between align-items-center"
              type="button"
              data-toggle="dropdown"
              aria-expanded="false">
              <span class="d-none"> Open </span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-three-dots"
                viewBox="0 0 16 16">
                <path
                  d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
              </svg>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item p-0" href="#">
                <div class="d-flex gap-sm p-2 align-items-center">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-reply"
                      viewBox="0 0 16 16">
                      <path
                        d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z" />
                    </svg>
                  </div>
                  <span> Reply </span>
                </div>
              </a>
              <a class="dropdown-item p-0" href="#">
                <div class="d-flex gap-sm p-2 align-items-center">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-clipboard"
                      viewBox="0 0 16 16">
                      <path
                        d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                      <path
                        d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                    </svg>
                  </div>
                  <span> Copy Message </span>
                </div>
              </a>
              <a class="dropdown-item p-0" href="#">
                <div class="d-flex gap-sm p-2 align-items-center">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-link"
                      viewBox="0 0 16 16">
                      <path
                        d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z" />
                      <path
                        d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z" />
                    </svg>
                  </div>
                  <span> Copy Link </span>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="d-flex gap-xs">
          <div>
            {{ partial "chat/avatar.html" (dict "name" "Mano Sebastiano Argenti") }}

          </div>
          <div class="card no-shadow-sm p-3 bg-light bubble bubble-start">
            <p class="m-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
              iste accusantium quidem, assumenda reprehenderit dolorum
              asperiores! Iusto sint doloremque eveniet ut reprehenderit quae
              quod! Ut facilis quis sit porro laudantium!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="p-3 w-50 d-flex gap-sm  ml-auto flex-row-reverse">
      <div>
        <small class="d-flex justify-content-end">
          <strong>10.36 AM</strong>
        </small>
        <div
          class="card bubble bubble-end no-shadow-sm p-3 bg-brand ink-brand ">
          <p class="m-0">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
            iste accusantium quidem, assumenda reprehenderit dolorum asperiores!
            Iusto sint doloremque eveniet ut reprehenderit quae quod! Ut facilis
            quis sit porro laudantium!
          </p>
        </div>
      </div>
    </div>
    <div class="bubble bubble-start p-3 w-50">
      <div class="d-flex flex-column">
        <div class="d-flex justify-content-end align-items-center">
          <small>
            <strong>Mano Sebastiano Argenti - 10.36 AM</strong>
          </small>

          <div class="dropdown">
            <button
              class="btn btn-sm btn-link square rounded-circle xbtn-link p-1 xdropdown-toggle d-flex justify-content-between align-items-center"
              type="button"
              data-toggle="dropdown"
              aria-expanded="false">
              <span class="d-none"> Open </span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-three-dots"
                viewBox="0 0 16 16">
                <path
                  d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
              </svg>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item p-0" href="#">
                <div class="d-flex gap-sm p-2 align-items-center">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-reply"
                      viewBox="0 0 16 16">
                      <path
                        d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z" />
                    </svg>
                  </div>
                  <span> Reply </span>
                </div>
              </a>
              <a class="dropdown-item p-0" href="#">
                <div class="d-flex gap-sm p-2 align-items-center">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-clipboard"
                      viewBox="0 0 16 16">
                      <path
                        d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                      <path
                        d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                    </svg>
                  </div>
                  <span> Copy Message </span>
                </div>
              </a>
              <a class="dropdown-item p-0" href="#">
                <div class="d-flex gap-sm p-2 align-items-center">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-link"
                      viewBox="0 0 16 16">
                      <path
                        d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z" />
                      <path
                        d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z" />
                    </svg>
                  </div>
                  <span> Copy Link </span>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="d-flex gap-xs">
          <div>
            {{ partial "chat/avatar.html" (dict "name" "Mano Sebastiano Argenti") }}

          </div>
          <div class="card no-shadow-sm p-3 bg-light bubble bubble-start">
            <p class="m-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
              iste accusantium quidem, assumenda reprehenderit dolorum
              asperiores! Iusto sint doloremque eveniet ut reprehenderit quae
              quod! Ut facilis quis sit porro laudantium!
            </p>
            <p class="m-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
              iste accusantium quidem, assumenda reprehenderit dolorum
              asperiores! Iusto sint doloremque eveniet ut reprehenderit quae
              quod! Ut facilis quis sit porro laudantium!
            </p>
            {{ partial "attachment.html" }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
