<div class="card border-emphasize-card border-color-info mt-3 p-2">
    <div class="d-flex justify-content-between mb-2">
        <div>
            <small class="text-muted">
                <strong>
                    Mano Senbastiano Argenti
                </strong>
            </small>
        </div>
        <div>
            <small class="text-muted">
                12.35 23.05.1976
            </small>
        </div>
    </div>
    <div class="wysiwyg">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quaerat repellat, odit tempora dolore
            exercitationem iste sunt veniam, quibusdam eius quae expedita accusamus nostrum eligendi culpa, optio
            accusantium. Recusandae, eos?
        </p>
    </div>
    {{ partial "attachment.html"}}
</div>