// body * {
//   outline: 1px solid $danger;
// }
.message {
  bottom: 0.5rem;
  left: 50%;
  display: block;
  position: absolute;
  z-index: 1001;
  transform: translateX(-50%);
}

.switch-icon {
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  svg {
    transition: all ease-in-out 200ms;
  }
  &:hover .icon-hover,
  .icon {
    opacity: 1;
    display: block;
  }
  &:hover .icon,
  .icon-hover {
    opacity: 0;
    display: none;
  }
}

li.counter.sticky-top {
  z-index: 10 !important;
}

.results {
  position: absolute;
  width: 100%;
  top: 100%;
  z-index: 1000;
}

.xtab-pane * {
  outline: 1px solid $danger;
}

.gap-0 {
  gap: 0;
}
.gap-xs {
  gap: $spacer * 0.25;
}
.gap-sm {
  gap: $spacer * 0.5;
}
.gap {
  gap: $spacer;
}
.gap-lg {
  gap: $spacer * 1.5;
}
.gap-xl {
  gap: $spacer * 3;
}

.page-margin {
  margin: 0 3.3rem;
}

.z-0 {
  z-index: 0 !important;
}
.z-1 {
  z-index: 1 !important;
}
.z-2 {
  z-index: 2 !important;
}
.z-3 {
  z-index: 3 !important;
}
.z-4 {
  z-index: 4 !important;
}
.z-max {
  z-index: 4000 !important;
}
.min-vh,
html {
  min-height: 100vh;
}
.shadow-md {
  box-shadow: 0 0.225rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.nav {
  overflow: visible;
  // outline: 1px solid red;
  &__border-bottom {
    &::after {
      content: "";
      height: 1px;
      width: 100%;
      background: $gray-300;
      display: block;
      z-index: 2;
      position: absolute;
      bottom: 0px;
    }
  }
}

.info-section {
  // background: theme-color-level(primary, 1);
  // color: color-yiq($primary);
  background: $gray-100;
  color: color-yiq($gray-100);
}

.navbar-brand {
  color: color-yiq($brand);
}

.inkPrimary {
  color: color-yiq($primary);
}
.inkBrand {
  color: color-yiq($brand);
}

.customTab {
  .nav-link {
    border: none;
    background: color-yiq($primary);
    color: $primary;
    font-weight: bold;
    border-right: 1px solid $gray-300;
    &.active {
      background: theme-color-level(primary, 2);
      color: color-yiq($primary);
      position: relative;
      overflow: visible;
      // btn btn-primary rounded-0
      &::after {
        $arrowSize: 16px;
        content: "";
        display: block;
        width: $arrowSize;
        height: $arrowSize;
        position: absolute;
        z-index: 3;
        left: 48%;

        bottom: calc(-1 * #{$arrowSize} / 1.8);
        transform-origin: center;
        transform: rotate(45deg) translateX(-50%);
        background: theme-color-level(primary, 2);
        border-radius: calc(#{$arrowSize} / 5);
        // border-top: $arrowSize solid theme-color-level(primary, 2);
      }
    }
  }
}

.min-h-100vh {
  height: calc(var(--vh) - 40px);
}

.max-h-20rem {
  max-height: 20rem;
}
.h-55vh {
  min-height: 55vh;
  height: 55vh;
}
.min-h-55px {
  min-height: 55px;
}
.min-w-30 {
  min-width: 30rem;
}
.min-w-25 {
  min-width: 25rem;
}
.min-w-20 {
  min-width: 20rem;
}
.min-w-15 {
  min-width: 15rem;
}
.min-w-10 {
  min-width: 10rem;
}
.min-w-8 {
  min-width: 8rem;
}
.min-w-6 {
  min-width: 6rem;
}
.min-w-4 {
  min-width: 4rem;
}
.min-w-3 {
  min-width: 3rem;
}
.min-w-2 {
  min-width: 2rem;
}
.min-w-avatar {
  min-width: 2.5rem;
}

.w-md {
  width: 2.5rem;
}

.arrow {
}

.xwork-item {
  * {
    outline: 1px solid red;
  }
}

.after-center-border {
  position: relative;
  &::before {
    display: block;
    content: "";
    width: 2px;
    height: 100%;
    background: $gray-200;
    z-index: 1;
    left: 50%;
    transform: translateX(0%);
    bottom: 0;
    top: 0;
    height: 100%;
    position: absolute;
  }
  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    border: 1.2rem solid transparent;
    border-right-color: $gray-300;
    top: 0.7rem;
    left: 1.8rem;
  }
  .icon {
    z-index: 2;
    position: inherit;
  }
}

.p-b-actions {
  padding-bottom: 4rem;
}

.icon-container {
  background: var(--brand-2, #{$gray-200});
  aspect-ratio: 1;
  display: block;
  width: $font-size-base * 1.5;
  svg {
    height: $font-size-base;
  }
  &-d1 {
    width: $display1-size * 1.5;
    svg {
      height: $display1-size;
    }
  }
  &-d2 {
    width: $display2-size * 1.5;
    svg {
      height: $display2-size;
    }
  }
  &-d3 {
    width: $display3-size * 1.5;
    svg {
      height: $display3-size;
    }
  }
  &-d4 {
    width: $display4-size * 1.5;
    svg {
      height: $display4-size;
    }
  }
  &-h1 {
    width: $h1-font-size * 1.5;
    svg {
      height: $h1-font-size;
    }
  }
  &-h2 {
    width: $h2-font-size * 1.5;
    svg {
      height: $h2-font-size;
    }
  }
  &-h3 {
    width: $h3-font-size * 1.5;
    svg {
      height: $h3-font-size;
    }
  }
  &-h4 {
    width: $h4-font-size * 1.5;
    svg {
      height: $h4-font-size;
    }
  }
  &-h5 {
    width: $h4-font-size * 1.5;
    svg {
      height: $h4-font-size;
    }
  }
  &-h6 {
    width: $h4-font-size * 1.5;
    svg {
      height: $h4-font-size;
    }
  }
}
.fa-primary {
  fill: var(--brand-11, $gray-700);
}
.fa-secondary {
  fill: var(--brand-6, $gray-700);
  opacity: 1;
}

.vh-70 {
  height: 60vh;
}
.min-vh-70 {
  min-height: 60vh;
}
.max-vh-70 {
  max-height: 60vh;
}
.max-h-18 {
  max-height: 18rem;
}
.max-h-20 {
  max-height: 20rem;
}
.max-h-15 {
  max-height: 15rem;
}
.max-h-8 {
  max-height: 8rem;
}
// TODO: change back to 80
.max-w-80 {
  max-width: 100rem;
}
.xchatBox {
  max-height: 7.5rem;
  min-height: 1.5rem;
  // user-select: text;
  // white-space: pre-wrap;
  // word-break: break-word;
}
.square {
  aspect-ratio: 1;
}

.border-emphasize {
  border-style: solid;
  border-width: 0px 0px 0px 5px;
}
.border-emphasize-card {
  border-style: solid;
  border-width: 1px 1px 1px 5px;
}
.border-color-info {
  border-left-color: $info;
}
.border-color-brand {
  border-left-color: $brand;
}
.border-color-primary {
  border-left-color: $primary;
}
.border-color-success {
  border-left-color: $success;
}
.border-left-transparent {
  border-left: 5px solid transparent;
}

.overlape {
  margin-left: -10px;
  transform: translateX(-10%);
}
.outline-2-white {
  border: 2px solid white;
}

.wysiwyg {
  p:last-child {
    margin-bottom: 0;
  }
}
.list-hover-light {
  background: $gray-100;
  cursor: pointer;
  &:hover {
    border-left: 5px solid $gray-300;
    background: $white;
  }
}

.styled-scrollbars {
  /* Foreground, Background */
  // scrollbar-color: $primary $gray-300;
}
.styled-scrollbars::-webkit-scrollbar {
  width: 6px; /* Mostly for vertical scrollbars */
  height: 6px; /* Mostly for horizontal scrollbars */
}
.styled-scrollbars::-webkit-scrollbar-thumb {
  border-radius: 50px;
  /* Foreground */
  background: $primary;
}
.styled-scrollbars::-webkit-scrollbar-track {
  border-radius: 50px;
  /* Background */
  background: $gray-300;
}

.bubble {
  border-radius: $spacer * 0.85;
  &-start {
    border-top-left-radius: 0;
  }
  &-end {
    border-top-right-radius: 0;
  }
}

.text.single-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.opacity-100 {
  opacity: 100%;
}
.opacity-75 {
  opacity: 75%;
}
.opacity-50 {
  opacity: 50%;
}
.opacity-25 {
  opacity: 25%;
}
.opacity-0 {
  opacity: 0%;
}

.chatItem {
  background: $light;
  // border-left: 5px solid $light;
  border-right: 1px solid $gray-400;
  padding-left: 5px;
  &.active {
    border-right: 1px solid $white;
    background: $white;
    padding-left: 0px;
    border-left: 5px solid $info;
  }
  &:hover {
    background: white;
  }
}

.badge-disbled {
  opacity: 50%;
  background: $gray-500;
  color: $black;
}

// .tab-content > .active {
//   display: flex !important;
//   min-height: 100% !important;
//   height: 100% !important;
//   height: calc(100% - 1rem);
//   outline: 3px solid purple;
//   overflow: auto;
// }

.h-fix-1 {
  height: calc(100% - 1rem) !important;
  display: flex !important;
  flex-direction: column !important;
}

.chat-container {
  // * {
  //   outline: 1px solid rgba(red, 0.2);
  // }
  // .dev1 {
  // }
}

.sticky-top-custom {
  position: sticky;
  top: 0;
  // z-index: 1020;
}

$paddingCath: 1rem;

/* prettier-ignore */
.chat-height {
  --height: calc(var(--vh) - var(--mainNav-height) - var(--info-section-height) - var(--tab-navigation-height) - #{$paddingCath * 2.2});
}
.padding-y-chat {
  padding-top: $paddingCath;
  padding-bottom: $paddingCath;
}

.chat-height-full {
  // outline: 5px solid rgba(blue, 0.3);
  height: var(--height);
}

.xxbody {
  --body: 941px;
  --header-height: 109px;
  --info-section-height: 184px;
  --tab-navigation-height: 56px;
}

.myModal {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  .myChat {
    z-index: 3;
  }
  .backdrop {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000, $alpha: 0.5);
    z-index: 0;
    backdrop-filter: blur(10px);
  }
}

.inset-0 {
  inset: 0;
}

.rounded-top-0 {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.rounded-right-0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.rounded-bottom-0 {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.rounded-left-0 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.outline {
  outline: 2px dashed var(--outline-color);
}
.outline-success {
  --outline-color: #{$success};
}
.outline-info {
  --outline-color: #{$info};
}
.outline-offset-s {
  outline-offset: 3px;
}
.outline-offset-ns {
  outline-offset: -3px;
}

.tollbar {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

// body * {
//   outline: 1px solid red;
// }

.border-left {
  &__arrow {
    position: relative;
    &::before {
      position: absolute;
      width: 1px;
      content: "";
      display: block;
      aspect-ratio: 1;
      z-index: 2;
      border-style: solid;
      border-width: 7px;
      border-color: transparent;
      border-left-color: white;
      top: 50%;
      left: -11px;
      transform: translateY(-50%);

    }
  }
  &__10 {
    border-left-width: 10px;
    border-left-style: solid;
  }
  &__neutral-light {
    border-color: $gray-200;
  }
  &__light {
    border-color: $light;
  }
  &__info {
    border-color: $info;
  }
  &__success {
    border-color: $success;
  }
  &__warning {
    border-color: $warning;
  }
  &__danger {
    border-color: $danger;
  }
}

.level-0 {
  background: theme-color-level("info", -12);
}
.level-1 {
  background: white;
}


.top-0 {
  top: 0;
}

.h-fs {
  height: 100vh;
}
.overflow-y--scroll {
  overflow-y: scroll;
}

.scrollbar-gutter--stable {
  scrollbar-gutter: stable;
}

.text-sm {
  font-size: 80%;
}

.z-10 {
  z-index: 10;
}

.pointer {
  cursor: pointer;
}
// modal
.fixed {
  position: fixed;
}

.inset-0 {
  inset: 0;
}

.z-10 {
  z-index: 10;
}
.z-20 {
  z-index: 20;
}

.relative {
  position: relative;
}
.bg-black {
  background-color: rgba(black, .5);
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}
.z-10 {
  z-index: 10;
}
.inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.fixed {
  position: fixed;
}
.min-w-50vw {
  min-width: 50vw;
}

.hover-row {
  &:hover {
    background: $gray-100;
  }
}

.parent-borders > * {
    border-bottom: 1px solid $gray-300;
    &:last-child {
      border-bottom: none;
    }
} 

.opacity-0 {
  opacity: 0;
}

.cursor {
  &-move {
    cursor: move;
  }
  &-pointer {
    cursor: pointermove;
  }
}